.highlight_topic {
	background-color: #FFFF66;
}

.highlight_reading {
	background-color: #99FF66;
}        

.highlight_assignment {
	background-color: #99CCFF;
}

.highlight_officehours {
	background-color: #FFFF66;
}

.highlight_meetingtimes {
	background-color: #FFFF66;
}

.highlight_outcomes {
	background-color: #FFFF66;
}

.highlight_classwebsite {
	background-color: #FFFF66;
}

.highlight_description {
	background-color: #FFFF66;
}

.highlight_policies {
	background-color: #FFFF66;
}

.highlight_notes {
	background-color: #FFFF66;
}



