#segments_list {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}


.sortable_placeholder {
    border: 2px dashed red;
    background-color: lightblue;
    height: 50px;
    margin-top: 10px;
    margin-bottom:10px;
}

.keyboard_symbol {
  padding-left:10px;

}

/*
input:required:invalid, input:focus:invalid {
  -moz-box-shadow: none;
  border-color:red;
}

input:required:valid {
   border-color:green;
}
*/