<div class="form-group instructor_entry form-horizontal">

	
	
	<div class="col-lg-6">
	<label for="instructor">Instructor <%= instructor_number %></label>
    <div class="input-group">
      <input type="text" class="instructor_name form-control" placeholder="Enter instructor name">
      <span class="input-group-btn">
    	<% if (instructor_number> 1) { %>
			<button type="button" class="btn btn-danger delete_instructor"><span class="glyphicon glyphicon-remove"></span></button>
		<% } else { %>
			<button type="button" class="btn btn-primary add_instructor"><span class="glyphicon glyphicon-plus"></span></button>
		<% }  %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
	
	
	
	
	<div class="input-append">
		

	</div>



	
</div>
<div class="clearfix"></div>	


<!-- Code for removing instructor -->
<script>
	$(".delete_instructor").click(function() {

		// Find the div with class instructor_entry that contains this button and remove it
		$(this).closest(".instructor_entry").slideUp(
			function() {
				$(this).remove();
			}
		);
	});
</script>