<% // Check to see if there is a department defined.  If not, define one
	
var instructor_number;
var manually_added = false;

if ( (typeof instructor == 'undefined') ||  (instructor.length < 1)) {
	
	instructor = [""]; 
	manually_added = true;
	instructor_number = $(".instructor_entry").length + 1;	// Look for existing instructor entries
} 


_.each(instructor, function(inst, index, list) { 

	if (!manually_added) {
		instructor_number = index+1;
	}

	%>

	<div class="form-group instructor_entry form-horizontal">
		<div class="col-lg-6">
		<label for="instructor">Instructor <%= instructor_number %></label>
		<div class="input-group">
		  <input type="text" class="instructor_name form-control" placeholder="Enter instructor name" value="<%= inst %>">
		  <span class="input-group-btn">
			<% if ( (index> 0) || ($(".instructor_entry") ).length > 0){ %>
				<button type="button" class="btn btn-danger delete_instructor"><span class="glyphicon glyphicon-remove"></span></button>
			<% } else { %>
				<button type="button" class="btn btn-primary add_instructor"><span class="glyphicon glyphicon-plus"></span></button>
			<% }  %>
		  </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-6 -->
	

	<div class="input-append">
		

	</div>

</div>
<div class="clearfix"></div>	

<% }); %>



<!-- Code for removing instructor -->
<script>
	$(".delete_instructor").click(function() {

		// Find the div with class instructor_entry that contains this button and remove it
		$(this).closest(".instructor_entry").slideUp(
			function() {
				$(this).remove();
			}
		);
	});
	
	$(".add_instructor").unbind("click");	// Remove existing click bindings
	$(".add_instructor").click(function() {
		number_of_instructors = $("#instructors .instructor_entry").length + 1
	
		var m = render("instructor_template");
		$(m).appendTo("#instructors").slideDown();
	});
		
</script>