<tr class="reading_entry">

	<td class="oclc_number_cell">
		<%= oclc %>
	</td>
	
	
	<td class="reading_citation_cell">
		<%= citation %>
	</td>
	
	
	<td>
		<input type="text" class="form-control pages">
	</td>
	
	
	<td class="remove_reading_cell">
		<button type="button" class="btn btn-danger btn-xs delete_reading"><span class="glyphicon glyphicon-remove"></span></button>

		<!-- Code for removing reading and searching for readings-->
		<script>
			$(".delete_reading").click(function() {

				// Find the div with class reading_entry that contains this button and remove it
				$(this).closest("tr.reading_entry").slideUp(
					function() {
						
						
						// If no readings left, hide the reading list table headers
						if ($(this).siblings().length < 1) {
							$(this).closest(".reading_list").hide();
						}
						
						$(this).remove();
					}
				);
			});
	
		</script>
	
	</td>
	
</tr>



