<% // Check to see if there is a segment defined.  If not, define one


	if ( (typeof segments == 'undefined') ||  (segments.length < 1)) {
		console.log("No segments");
		segments = [{title:"", details:"", highlight:""}]; 
	}


	if ( (typeof readings == 'undefined') ||  (readings.length < 1)) {
		console.log("No readings");
		readings = []; 
	}	

	// Loop through each segment, printing out the information
	_.each(segments, function(segment, index, list) { %>
		<li>
		<div class="panel panel-default segment_box">
			<div class="panel-heading">
				<span class="panel-title segment_heading"></span>
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary btn-sm add_segment">Add a segment</button>
					<button type="button" class="btn btn-danger btn-sm delete_segment">Delete segment</button>
				</div>
				<div class="clearfix"></div>
			
			</div> <!-- End of panel-heading -->
	
	
			<div class="panel-body">
	
				<div class="form-group" >
					<label class="col-sm-2 control-label">Segment</label>
					<div class="col-sm-10">
						<input type="text" class="form-control segment_title" placeholder="Enter segment" value="<% if (segment.title) { print(segment.title); } %>">
					</div>
				</div>	



				<!-- Place to store serialized highlight -->
				<input type="hidden" class="segment_highlight" value="">
				
				
				
				<div class="form-group" >
					<label class="col-sm-2 control-label">Details</label>
					<div class="col-sm-10">
						<textarea class="form-control segment_details" rows="3" placeholder="segment details"><%= segment.details %></textarea>
					</div>
				</div>	

				<div class="clearfix"></div>

				<div class="table-responsive col-lg-12 reading_list">
					<label class="control-label">Reading list</label>
					<table class="table table-striped " >
						<thead>
							<tr>
								<th>OCLC&nbsp;#</th>
								<th>Citation</th>
								<th>Pages</th>
								<th>Optional?</th>
								<th>Remove</th>
							</tr>
						</thead>
						<!-- Individual reading entries go here-->
						<%  var readings_for_this_segment = _.filter(readings, function(reading) {
												return reading.segment == index+1;
											});	
											
							_.each(readings_for_this_segment, function(reading, index, list) {
								var m = render("reading_entry_template", reading);
								print(m);
							});

						%>
	
					</table>	 <!-- End of reading_list -->
				</div>
		
				<!-- Button for adding a new reading via OCLC search -->
				<div class="col-lg-6">
					<label class="control-label">Search for a reading in WorldCat</label>				  
					<div class="input-group">
						<input type="text" class="form-control library_search_q">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-loading-text="Searching...">Search <span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li><a class="search_worldcat" href="#">WorldCat</a></li>
								<li><a class="search_crossref" href="#">CrossRef</a></li>
							</ul>
						</div><!-- /btn-group -->
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->


				<!-- Button for adding a new reading manually-->
				<div class="col-lg-6">
					<label class="control-label">Manually enter a reading</label>
					<div class="input-group">
					  <input type="text" class="form-control manual_reading_title">
					  <span class="input-group-btn add_manual_reading" >
						<button class="btn btn-default" type="button">Add</button>
					  </span>
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->


			</div> <!-- End of panel-body -->
	
		</div> <!-- End of panel -->
		</li>

	<% }); %>

