<form role="form" class="form-horizontal">

	<!-- Form Name -->
	<legend>Syllabus Entry</legend>

	<div class="row" id="departments">
		<!-- Place to put department and course number selections -->
	</div>
	
				
	<div class="row form-group col-lg-8">
		<label for="coursename">Course Name</label>
		<input type="text" class="form-control" id="coursename" placeholder="Enter course name" value="<%= data.course_name %>">
	</div>

	<div class="clearfix"></div>
	
	<div class="row form-group col-lg-8" id="instructors">
		<!-- Place to put instructors -->
	</div>
	
	<div class="clearfix"></div>

	<div class="row col-lg-8">
	
		<!-- Semester selection -->
		<div class="col-lg-3">
			<div class="form-group">
				<label for="semester">Semester</label>
				<select class="form-control" id="semester_selection">
					
					<option value="" disabled selected>Select semester</option>
					
					<% var semesters = ["Spring 2014","Fall 2013","Spring 2013","Fall 2012","Spring 2012","Fall 2011","Spring 2011","Fall 2010","Spring 2010","Fall 2009","Spring 2009","Fall 2008","Spring 2008","Fall 2007","Spring 2006"];
					
					_.each(semesters, function(semester, index, list) { 
					
						// Check to see if syllabus semester has been selected
						var selected_text = ""
						if (data.semester == semester) {
							selected_text = "selected";
						}
						
						print("<option value=\"" + semester + "\" " + selected_text + ">" + semester + "</option>");
				
					}); %>
				</select>

			</div> <!-- End form group -->
		</div> <!-- End col-lg-3 -->

		<div class="col-lg-2 col-lg-offset-1">
			<div  class="form-group">
				<label for="credits">Credits</label>
				<select class="form-control" id="credit_selection">
					<option value="" selected disabled>Select credits</option>
	
					<% var credits = ["2", "1.5", "1", "0.5", "0"];
					
					_.each(credits, function(credit, index, list) { 
					
						// Check to see if syllabus credit has been selected
						var selected_text = ""
						if (data.credits == credit) {
							selected_text = "selected";
						}
						
						print("<option value=\"" + credit + "\" " + selected_text + ">" + credit + "</option>");
				
					}); %>
				</select>
			</div>
		</div>
	</div> <!-- End row col-lg-8 -->

	<div class="clearfix"></div>

	<div class="row form-group">
		<label for="prerequisites">Official Prerequisites</label>
		<textarea class="form-control" rows="3" id="prerequisites"><%= data.prerequisites %></textarea>
	</div>

	
	<div class="row form-group ">
		<label for="course_description">Course Description</label>
		<textarea class="form-control" rows="3" id="course_description"><%= data.course_description %></textarea>
	</div>

			
	<div class="row form-group">
		<label for="assignments">Assignments</label>
		<textarea class="form-control" rows="3" id="assignments"><%= data.assignments %></textarea>
	</div>			

	<div class="row form-group">
		<label for="policies">Policies</label>
		<textarea class="form-control" rows="3" id="policies"><%= data.policies %></textarea>
	</div>
					
	<div class="row form-group">
		<label for="class_format">Class Format</label>
		<textarea class="form-control" rows="3" id="class_format"><%= data.class_format %></textarea>
	</div>				

	<div class="row form-group">
		<label for="visitors">Visitors</label>
		<textarea class="form-control" rows="3" id="visitors"><%= data.visitors %></textarea>
	</div>	

	<div class="row form-group">
		<label for="required_events">Required Events</label>
		<textarea class="form-control" rows="3" id="required_events"><%= data.required_events %></textarea>
	</div>	

		
	<div id="weeks">
		<!-- Search WorldCat modal placeholder -->
		<div class="modal fade" id="reading_search_results_modal" tabindex="-1" role="dialog" aria-hidden="false"></div>	
	</div>
	

	<div class="row">
		<div class="col-lg-1 col-centered">
			<button type="button" class="btn btn-primary btn-lg" onClick="save_syllabus()">Save Syllabus</button>
			<BR><BR>
		</div>
	</div>		
		
<div class="form-group col-lg-4">
	<input type="text" class="form-control" id="syllabus_id" readonly value="<%= data._id %>">
</div>
		
	
</form>