<!-- Syllabus detail template -->


	<!- Rangy - Javascript library for highlighting -->
 	<script type="text/javascript" src="/js/lib/rangy/log4javascript_stub.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/core.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/dom.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/domrange.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/wrappedrange.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/wrappedselection.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/rangy-cssclassapplier.js"></script>
    <script type="text/javascript" src="/js/lib/rangy/rangy-highlighter.js"></script>
    
    <!-- Script for handling syllabus highlighting -->
    <script type="text/javascript" src="/js/syllabus_highlighter.js"></script>


<% 	// Handle empty data
	// if type of a variable is undefined, make it blank
	course_name = _.isUndefined(obj.course_name) ?  "" : course_name;
	semester = _.isUndefined(obj.semester) ?  "" : semester;
	credits = _.isUndefined(obj.credits) ?  "" : credits;
	meeting_schedule = _.isUndefined(obj.meeting_schedule) ?  "" : meeting_schedule;
	notes = _.isUndefined(obj.notes) ?  "" : notes;
	office_hours = _.isUndefined(obj.office_hours) ?  "" : office_hours;
	outcomes = _.isUndefined(obj.outcomes) ?  "" : outcomes;
	rights = _.isUndefined(obj.rights) ?  "" : rights;
	class_website = _.isUndefined(obj.class_website) ?  "" : class_website;
	prerequisites = _.isUndefined(obj.prerequisites) ?  "" : prerequisites;
	course_description = _.isUndefined(obj.course_description) ?  "" : course_description;
	assessment = _.isUndefined(obj.assessment) ?  "" : assessment;
	//assignments = _.isUndefined(obj.assignments) ?  [] : assignments;
	policies = _.isUndefined(obj.policies) ?  "" : policies;
	class_format = _.isUndefined(obj.class_format) ?  "" : class_format;
	visitors = _.isUndefined(obj.visitors) ?  "" : visitors;
	required_events = _.isUndefined(obj.required_events) ?  "" : required_events;
	status = _.isUndefined(obj.status) ?  "" : status;
	syllabus_html = _.isUndefined(obj.syllabus_html) ?  "" : syllabus_html;
	_id = _.isUndefined(obj._id) ?  "" : _id;
	
%>

<!-- Form content -->
<div class="col-lg-6 syllabus_form_content" style="height:100%;position:fixed;left:0%;overflow:auto;padding-bottom:70px">


	<form role="form" class="form-horizontal" id="syllabus_detail_form" >

		<!-- Form Name -->
		<div class="col-sm-10">
			<legend>Syllabus Entry</legend>
		</div>
		<div class="col-sm-2">
			<span id="save_icon" class="glyphicon glyphicon-floppy-disk pull-right hidden" style="font-size:24px;"></span>
		</div>
	
		<!-- Department -->
		<div class="row" id="departments">	
			<div class="table-responsive col-lg-12" id="department_listing">
				<table class="table department_table">
					<thead>
						<tr>
							<th>Department</th>
							<th>Course Number</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					<tbody>
					<!-- Individual department entries go here-->
					</tbody>
				</table>	 <!-- End of department_list -->
			</div>
		</div>
	
				
		<div class="row form-group col-lg-12">
			<label class="control-label"  for="coursename">Course Name</label>
			<input type="text" class="form-control" id="coursename" placeholder="Enter course name" value="<%= course_name %>">
		</div>

		<div class="clearfix"></div>
	
		<div class="row form-group col-lg-12" id="instructors">
			<!-- Place to put instructors -->
		</div>
	
		<div class="clearfix"></div>

		<div class="row col-lg-12">
	
			<!-- Semester selection -->
			<div class="col-lg-3">
				<div class="form-group">
					<label class="control-label"  for="semester">Semester</label>
					<select class="form-control" name="semester_selection" id="semester_selection">
					
						<option value="-1" disabled selected>Select semester</option>
					
						<% var semester_options = ["Spring 2014","Fall 2013","Spring 2013","Fall 2012","Spring 2012","Fall 2011","Spring 2011","Fall 2010","Spring 2010","Fall 2009","Spring 2009","Fall 2008","Spring 2008","Fall 2007","Spring 2006"];
					
						_.each(semester_options, function(sem, index, list) { 
					
							// Check to see if syllabus semester has been selected
							var selected_text = ""
							if (semester == sem) {
								selected_text = "selected";
							}
						
							print("<option value=\"" + sem + "\" " + selected_text + ">" + sem + "</option>");
				
						}); %>
					</select>

				</div> <!-- End form group -->
			</div> <!-- End col-lg-3 -->

			<div class="col-lg-3 col-lg-offset-1">
				<div  class="form-group">
					<label class="control-label"  for="credits">Credits</label>
					<select class="form-control" id="credit_selection">
						<option value="" selected disabled>Select credits</option>
	
						<% var credit_options = ["2", "1.5", "1", "0.5", "0"];
					
						_.each(credit_options, function(credit, index, list) { 
					
							// Check to see if syllabus credit has been selected
							var selected_text = ""
							if (credits == credit) {
								selected_text = "selected";
							}
						
							print("<option value=\"" + credit + "\" " + selected_text + ">" + credit + "</option>");
				
						}); %>
					</select>
				</div>
			</div>

			<div class="col-lg-3 col-lg-offset-1">
				<div  class="form-group">
					<label class="control-label"  for="format_selection">Format</label>
					<select class="form-control" id="format_selection">
						<option value="" selected disabled>Select format</option>
	
						<% var format_options = ["Lecture", "Seminar"];
					
						_.each(format_options, function(format, index, list) { 
					
							// Check to see if syllabus format has been selected
							var selected_text = ""
							if (class_format == format) {
								selected_text = "selected";
							}
						
							print("<option value=\"" + format + "\" " + selected_text + ">" + format + "</option>");
				
						}); %>
					</select>
				</div>
			</div>

		</div> <!-- End row col-lg-8 -->

		<div class="clearfix"></div>


		<div class="row form-group col-lg-12">
			<label class="control-label" for="meeting_schedule">Meeting Times</label>
			<textarea class="form-control" rows="3" id="meeting_schedule"><%= meeting_schedule %></textarea>
		</div>

		<div class="clearfix"></div>
		
		<div class="row form-group col-lg-12">
			<label class="control-label" for="office_hours">Office Hours</label>
			<textarea class="form-control" rows="3" id="office_hours"><%= office_hours %></textarea>
		</div>

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label" for="outcomes">Outcomes</label>
			<textarea class="form-control" rows="3" id="outcomes"><%= outcomes %></textarea>
		</div>

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label" for="prerequisites">Class website</label>
			<input class="form-control" id="class_website" name="class_website" value="<%= class_website %>" />
		</div>

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label" for="prerequisites">Official Prerequisites</label>
			<textarea class="form-control" rows="3" id="prerequisites"><%= prerequisites %></textarea>
		</div>

		<div class="clearfix"></div>
	
		<div class="row form-group col-lg-12">
			<label class="control-label" for="course_description">Course Description</label>
			<textarea class="form-control" rows="3" id="course_description"><%= course_description %></textarea>
		</div>

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label" class="control-label" for="assessment">Assessment</label>
			<textarea class="form-control" rows="3" id="assessment"><%= assessment %></textarea>
		</div>	
		
		<!--		
		<div class="row form-group">
			<label class="control-label" class="control-label" for="assignments">Assignments</label>
			<textarea class="form-control" rows="3" id="assignments"><%= assignments %></textarea>
		</div>
		-->			

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label" class="control-label" for="policies">Policies</label>
			<textarea class="form-control" rows="3" id="policies"><%= policies %></textarea>
		</div>	

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label" class="control-label" for="visitors">Visitors</label>
			<textarea class="form-control" rows="3" id="visitors"><%= visitors %></textarea>
		</div>	

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label"  class="control-label" for="required_events">Required Events</label>
			<textarea class="form-control" rows="3" id="required_events"><%= required_events %></textarea>
		</div>	

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label"  class="control-label" for="notes">Additional Notes</label>
			<textarea class="form-control" rows="3" id="notes"><%= notes %></textarea>
		</div>	

		<div class="clearfix"></div>

		<div class="row form-group col-lg-12">
			<label class="control-label"  class="control-label" for="notes">Rights</label>
			<textarea class="form-control" rows="3" id="rights"><%= rights %></textarea>
		</div>	

		<div class="clearfix"></div>

		<div id="assignments_container">	
		</div>

		<div id="topics_container">
			<!-- Search WorldCat modal placeholder -->
			<div class="modal fade" id="reading_search_results_modal" tabindex="-1" role="dialog" aria-hidden="false"></div>	
		</div>
	
	
		<div class="col-lg-8">
				<div  class="form-group">
					<label class="control-label"  for="syllabus_status">Syllabus Status</label>
					<select class="form-control" id="syllabus_status">
						<option value="" selected disabled>Select status</option>
	
						<% var status_options = ["Unknown", "Incomplete", "Ready for Review", "Complete"];
					
						_.each(status_options, function(status_option, index, list) { 
					
							// Check to see if syllabus status has been selected
							var selected_text = ""
							if (status_option == status) {
								selected_text = "selected";
							}
						
							print("<option value=\"" + status_option + "\" " + selected_text + ">" + status_option + "</option>");
				
						}); %>
					</select>
				</div>
		</div>
	

		<div class="row">
			<div class="col-lg-1 col-centered">
				<button type="button" class="btn btn-primary btn-lg" id="save_syllabus">Save Syllabus</button>
				<BR><BR>
			</div>
		</div>		
		
	<div class="form-group col-lg-4" style="height:100%">
		<input type="text" class="form-control" id="syllabus_id" readonly value="<%= _id %>">
	</div>
		
	
	</form>
	
</div> <!-- end of syllabus form content -->

<div class="col-md-6 syllabus_display" style="height:100%;position:fixed;left:50%">

	<div id="load_syllabus"></div>

	<iframe id="syllabus_iframe" src="" style="width:100%;height:100%"></iframe>
	
	<% 
		// Set iframe content
		console.log("HTML syllabus");
		console.log($("#syllabus_iframe").contents().find("html").html());
		$("#syllabus_iframe").contents().find("html").html(syllabus_html);
	%>
</div>



<script>

function add_text_to_element(element_id, text_to_add, highlight_selection) {	
	var text_to_add = text_to_add || "";	
	var highlight_selection = highlight_selection || null;		
	var e = $("#" + element_id);
	// Add a carriage return if there is already text in the entry box
	if (e.val()) {text_to_add = "\n" + text_to_add;}
	e.val(e.val() + text_to_add);
	$("#save_syllabus").click();	
}


</script>