<% // Check to see if there is a topic defined.  If not, define one


	if ( (typeof topics == 'undefined') ||  (topics.length < 1)) {
		console.log("No topics");
		topics = [{title:"", details:"", highlight:""}]; 
	}


	if ( (typeof readings == 'undefined') ||  (readings.length < 1)) {
		console.log("No readings");
		readings = []; 
	}	

	// Loop through each topic, printing out the information
	_.each(topics, function(topic, index, list) { %>

		<div class="panel panel-default topic_box">
			<div class="panel-heading">
				<span class="panel-title topic_heading"></span>
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-primary btn-sm add_topic">Add a Topic</button>
					<button type="button" class="btn btn-danger btn-sm delete_topic">Delete Topic</button>
				</div>
				<div class="clearfix"></div>
			
			</div> <!-- End of panel-heading -->
	
	
			<div class="panel-body">
	
				<div class="form-group" >
					<label class="col-sm-1 control-label">Topic</label>
					<div class="col-sm-10">
						<input type="text" class="form-control topic_title" placeholder="Enter topic" value="<% if (topic.title) { print(topic.title); } %>">
					</div>
				</div>	



				<!-- Place to store serialized highlight -->
				<input type="hidden" class="topic_highlight" value="<% if (topic.highlight) { print(topic.highlight); highlight_syllabus_topics(topic.highlight);} %>">
				
				
				
				<div class="form-group" >
					<label class="col-sm-1 control-label">Details</label>
					<div class="col-sm-10">
						<textarea class="form-control topic_details" rows="3" placeholder="Topic details"><%= topic.details %></textarea>
					</div>
				</div>	

				<div class="clearfix"></div>

				<div class="table-responsive col-lg-12 reading_list">
					<label class="control-label">Reading list</label>
					<table class="table table-striped " >
						<thead>
							<tr>
								<th>OCLC&nbsp;#</th>
								<th>Citation</th>
								<th>Pages</th>
								<th>Optional?</th>
								<th>Remove</th>
							</tr>
						</thead>
						<!-- Individual reading entries go here-->
						<%  var readings_for_this_topic = _.filter(readings, function(reading) {
												return reading.topic == index+1;
											});
											
							console.log("Readings!");
							console.log(readings);
							console.log(readings_for_this_topic	);		
											
							_.each(readings_for_this_topic, function(reading, index, list) {
								var m = render("reading_entry_template", reading);
								print(m);
							});

						%>
	
					</table>	 <!-- End of reading_list -->
				</div>
		
				<!-- Button for adding a new reading via OCLC search -->
				<div class="col-lg-6">
					<label class="control-label">Search for a reading in WorldCat</label>
					<div class="input-group">
					  <input type="text" class="form-control">
					  <span class="input-group-btn search_reading" >
						<button class="btn btn-default " type="button" data-loading-text="Searching...">Search</button>
					  </span>
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->


				<!-- Button for adding a new reading manually-->
				<div class="col-lg-6">
					<label class="control-label">Manually enter a reading</label>
					<div class="input-group">
					  <input type="text" class="form-control manual_reading_title">
					  <span class="input-group-btn add_manual_reading" >
						<button class="btn btn-default" type="button">Add</button>
					  </span>
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->


			</div> <!-- End of panel-body -->
	
		</div> <!-- End of panel -->


	<% }); %>

<!-- code to add and remove topics and readings -->
<script>





function setup_topic_buttons() {

	$(".add_topic").off("click");
	console.log("Unbinding click function");
	$(".add_topic").on("click", function() {
		console.log("Add topic button clicked");
		add_new_topic($( this ));
	});	


	$(".delete_topic").off("click");
	$(".delete_topic").on("click", function() {
		// Find the div with class reading_entry that contains this button and remove it
		$(this).closest(".topic_box").slideUp(
			function() {
				$(this).remove();
				renumber_topics();
			}
		);
	});

	
	// Add a new manual reading
	$(".add_manual_reading").off("click");
	$(".add_manual_reading").on("click", function() {

		var reading_list = $(this).closest(".topic_box").find(".reading_list > table");
		var title = $(this).closest(".topic_box").find(".manual_reading_title").val();

		// Make sure reading list div is visible
		$(this).closest(".topic_box").find(".reading_list").show();
	
		var m = render("reading_entry_template", {citation: title, oclc: null, optional:false});
		$(m).appendTo(reading_list).slideDown();
	});


	// Search for a new reading.
	$(".search_reading").off("click");
	$(".search_reading").on("click", function() {

		// Set the search button to disabled
		$(this).find("button").button("loading");
	
		var topic_number = $(this).closest(".topic_box").index(".topic_box") + 1;
		var search_q = $(this).prev().val();	
		socket.emit("search_oclc", {q:search_q, topic:topic_number});		
	});	

}
	
	
	
// Create a new topic - either from a button press or highlighted selection
function add_new_topic(button_ref, topic_title, highlight_selection) {
	 
	console.log("Adding a new topic"); 
	
	var  topic_title = topic_title || "";	
	var  highlight_selection = highlight_selection || null;	
	var number_of_topics = $("#topics_container .topic_box").length;
	
	// If the topic was added via a button click, find the topic box that contained the button.
	// Otherwise, get the last topic box
	var this_topic;
	if (button_ref) {
		this_topic = button_ref.closest(".topic_box");
	} else {
		this_topic = $("#topics_container .topic_box").last();
	}

	// Add the new topic, then renumber all the topics
	var m = render("topic_template", {topics:[{title:topic_title, highlight:highlight_selection}]});
	if (number_of_topics > 0) {
		$(m).insertAfter(this_topic).slideDown();
	} else {
		$(m).appendTo($("#topics_container"));
	}
	
	renumber_topics();
	setup_topic_buttons();
	$("#save_syllabus").click();	

}





// Create a new reading - either from a button press or highlighted selection
function add_new_reading(button_ref, reading_title, highlight_selection) {

	console.log("Adding a new reading"); 
	
	var reading_title = reading_title || "";	
	var highlight_selection = highlight_selection || null;	
	var number_of_readings = $(this).closest(".topic_box").find(".reading_list > table tr.reading_entry").length;
	
	// If the topic was added via a button click, find the topic box that contained the button.
	// Otherwise, get the last topic box
	var this_topic;
	if (button_ref) {
		this_topic = button_ref.closest(".topic_box");
	} else {
		this_topic = $("#topics_container .topic_box").last();
	}

	// Add the new topic, then renumber all the topics
	var m = render("topic_template", {topics:[{title:topic_title, highlight:highlight_selection}]});
	if (number_of_topics > 0) {
		$(m).insertAfter(this_topic).slideDown();
	} else {
		$(m).appendTo($("#topics_container"));
	}
	
	renumber_topics();
	setup_topic_buttons();

	var reading_list = $(this).closest(".topic_box").find(".reading_list > table");
	var title = $(this).closest(".topic_box").find(".manual_reading_title").val();

	// Make sure reading list div is visible
	$(this).closest(".topic_box").find(".reading_list").show();

	var m = render("reading_entry_template", {citation: title, oclc: null, optional:false});
	$(m).appendTo(reading_list).slideDown();

}
	
	
	
	

function renumber_topics() {
	// Find all topics and put the correct number in the topic heading
	$(".topic_box").each(function(index, element) {
		$(element).find(".topic_heading").html("Topic " + (index + 1));
	});
}



	
function show_non_empty_reading_lists() {
	// Go through all the topics, and show reading lists with content
	$(".topic_box").each(function(index, element) {
		var rl = $(element).find(".reading_list");
		if (rl.find("tbody tr").length > 0) {
			console.log("reading list with content");
			rl.show();
		}
	});	
}





function initialize_topic_boxes() {
 	// Run renumber
	renumber_topics();
	
	show_non_empty_reading_lists();
	
	setup_topic_buttons();
}


</script>
